.logo {
  font-size: 25px;
  padding: 8px 16px !important;
  font-weight: bolder;
  color: var(--base);
}

.icon {
  margin-right: 25px;
}

.appBar {
  background-color: var(--base);
}

.activeLink {
  color: var(--base) !important;
  border-color: var(--base);
}
.activeLink .link {
  border-right: 2px solid var(--base) !important;
}

.slideContent {
  margin-left: 0;
}

@media only screen and (min-width: 900px) {
  .slideContent {
    margin-left: 240px;
  }
}
